.feedback-form {
  background-color: #22201f;
  height: 500px;
  padding-top: 80px;
  text-align: center;
  color: white;
}

.form__title {
  font-family: Times New Roman;
  font-size: 42px;
  font-weight: 400;
  line-height: 48.27px;
}

.form__block,
.form__box,
.form__button {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.form__button:hover {
  padding: 10px;
  max-width: 300px;
  margin: 0 auto;
  cursor: pointer;
  border: 1px solid darkcyan;
  transform: scale(1.1);
  border-radius: 20px;
}

.form__box {
  width: 340px;
  border-bottom: 1px solid white;
  padding: 5px;
}
.form__input {
  background-color: transparent;
  width: 100rem;
  border: none;
  padding: 5px;
}
.form__icon {
  width: 24px;
}
.form__lock {
  display: flex;
  justify-content: center;
  font-weight: 100;
  margin: 30px 0 60px 0;
  gap: 20px;
}
.form__button--bg {
  width: 54px;
  height: 54px;
  border-radius: 100%;
  background-color: #03927e;
  z-index: 1;
}

.form__button span {
  z-index: 2;
  margin-left: -40px;
}

@media (max-width: 820px) {
  .form__block {
    display: inline-block;
    gap: 10px;
  }
  .form__box {
    margin-top: 10px;
  }
}
