
header {
  background-image: url("../images/header/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.header__content {
  color: white;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  gap: 10px;
}

.header__navbar--menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 20px;
  max-width: 100%;
}
.header__navbar-link {
  display: inline-block;
  transition: transform 0.3s, color 0.4s;
  color: white;
  transform-origin: center;
}
.active,
.header__navbar-link:hover {
  color: aqua;
  transform: scale(1.1);
  text-decoration: underline;
}

.header__contacts {
  display: flex;
  align-items: center;
  max-width: 351px;
  min-width: 320px;
  background-color: #231f2140;
  backdrop-filter: blur(22px);
  border-radius: 8px;
  font-size: 14px;
  padding: 8px;
}
.header__navbar-item {
  text-align: center;
  min-width: 100px;
  padding: 0;
  margin: 0;
}
.header__address {
  border-right: 1px solid white;
  margin-right: 10px;
}
.header__address,
.header__tell {
  display: flex;
  align-items: center;
  gap: 5px;
}
.header__address:hover,
.header__tell--number:hover {
  transform: scale(1.1);
  color: aqua;
}
.header__address--icon,
.header__tell--icon {
  width: 30px;
}
.header__address--text,
.header__tell--number {
  color: white;
}

@media (max-width: 940px) {
  .header__content {
    display: inline-block;
    text-align: center;
  }

  .header__contacts {
    margin: 0 auto;
  }
}
