.photo-gallery {
  margin-top: 100px;
  text-align: center;
}
.gallery__title {
  font-family: Times New Roman;
  font-size: 40px;
  font-weight: 400;
  line-height: 46px;
  text-transform: uppercase;
}
.photo-gallery {
  text-align: center;
  margin: 20px;
  position: relative;
}

.gallery__title {
  font-size: 24px;
  margin-bottom: 20px;
}

.slider {
  overflow: hidden;
  position: relative;
}

.slides-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.slide-left img,
.slide-right img {
  filter: blur(1px);
  opacity: 0.5;
  width: 20vw;
  height: 30vh;
}
.gallery-icon {
  width: 40px;
  margin: 50px;
}

.gallery-icon:hover {
  transform: scale(1.2);
}
