@import url("./css/header.css");
@import url("./css/banner-slider.css");

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  position: relative;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

